<!-- TODO
* Tooltips
* Convert to camelCase
-->
<form class='css-form'
      data-ng-controller="InputFormController"
      novalidate>
      
  <div>
    <label>number of permits</label>
    <input type='number'
           min='1'
           data-ng-model='parkingRecord.number_of_permits'
           required />
  </div>

  <div>
    <label>has placard</label>
    <input type="checkbox" required />
  </div>

  <div>
    <label>handicapped</label>
    <input type="checkbox" required />
  </div>

  <div>
    <label>wheelchair accessible</label>
    <input type="checkbox" required />
  </div>

  <div>
    <label>is return</label>
    <input type="checkbox" required />
  </div>

  <!-- TODO should we be using html5 min/max? -->
  <div data-ng-controller='YearController'>
    <label>year</label>
    <input type='number'
           min='{{minYear}}'
           max='{{maxYear}}'
           data-ng-model='parkingRecord.year'
           required />
  </div>

  <!-- TODO can first_permit_number = last_permit_number? -->
  <!-- TODO How to validate first_permit_number <= last_permit_nubmer -->

  <div data-ng-controller='PermitNumberController'>
    <label>first permit number</label>
    <input type='number'
           min='{{minPermitNumber}}'
           max='{{maxPermitNumber}}'
           data-ng-model='parkingRecord.first_permit_number'
           required />
  </div>

  <div data-ng-controller='PermitNumberController'>
    <label>last permit number</label>
    <input type="number"
           min='{{minPermitNumber}}'
           max='{{maxPermitNumber}}'
           data-ng-model='parkingRecord.last_permit_number'
           required />
  </div>

  <div data-ng-controller='LotController'>
    <!-- TODO Chosen plugin -->
    <label>lot</label>
    <select chosen
            data-ng-model='parkingRecord.lot'
            data-ng-options='lot for lot in allLots'
            in-container='allLots'
            required>
    </select>
  </div>

  <div data-ng-controller='TypeController'>
    <!-- TODO Chosen plugin -->
    <label>type</label>
    <select data-ng-model='parkingRecord.type'
            data-ng-options='type for type in allTypes'
            in-container='allTypes'
            required>
    </select>
  </div>

  <div data-ng-controller='PaymentTypeController'>
    <!-- TODO Chosen plugin -->
    <label>payment type</label>
    <select data-ng-model='parkingRecord.payment_type'
            data-ng-options='paymentType for paymentType in allPaymentTypes'
            in-container='allPaymentTypes'
            required>
    </select>
  </div>

  <div data-ng-controller='SportController'>
    <!-- TODO Chosen plugin -->
    <label>sport</label>
    <select data-ng-model='parkingRecord.sport'
            data-ng-options='sport for sport in allSports'
            in-container='allSports'
            required>
    </select>
  </div>

  <div data-ng-controller='DepartmentController'>
    <!-- TODO Chosen plugin -->
    <!-- TODO Autocomplete with 'add new' a la youtube add to playlist -->
    <label>department</label>
    <select data-ng-model='parkingRecord.department'
            data-ng-options='department for department in allDepartments'
            in-container='allDepartments'
            required>
    </select>
  </div>

  <div>
    <!-- TODO Chosen plugin -->
    <!-- TODO Autocomplete with 'add new', a la youtube add to playlist -->
    <label>contact</label>
    <select>
    </select>
  </div>
</form>
