<!-- TODO
* Tooltips
-->
<form class='css-form' data-ng-controller="InputFormController" novalidate>
  <!-- TODO should we be using html5 min/max? -->
  <div>
    <label>number of permits</label>
    <input type="number" min=1 data-ng-model='parking_record.number_of_permits' required positive-integer />
  </div>

  <div>
    <label>has placard</label>
    <input type="checkbox" required />
  </div>

  <div>
    <label>handicapped</label>
    <input type="checkbox" required />
  </div>

  <div>
    <label>wheelchair accessible</label>
    <input type="checkbox" required />
  </div>

  <div>
    <label>is return</label>
    <input type="checkbox" required />
  </div>

  <!-- TODO should we be using html5 min/max? -->
  <div data-ng-controller='YearController'>
    <label>year</label>
    <input type="number" min='{{ min_year }}' max='{{ max_year }}' data-ng-model='parking_record.year' valid-year required />
  </div>

  <!-- TODO can first_permit_number = last_permit_number? -->
  <!-- TODO How to validate first_permit_number <= last_permit_nubmer -->

  <div data-ng-controller='PermitNumberController'>
    <label>first permit number</label>
    <input type="number" min='{{ min_permit_number }}' max='{{ max_permit_number }}' data-ng-model='parking_record.first_permit_number' required valid-permit-number />
  </div>

  <div data-ng-controller='PermitNumberController'>
    <label>last permit number</label>
    <input type="number" min='{{ min_permit_number }}' max='{{ max_permit_number }}' data-ng-model='parking_record.last_permit_number' required valid-permit-number />
  </div>

  <div data-ng-controller='LotController'>
    <!-- TODO Chosen plugin -->
    <label>lot</label>
    <select data-ng-model='parking_record.lot' data-ng-options='lot for lot in allLots' required valid-lot>
    </select>
  </div>

  <div>
    <!-- TODO Chosen plugin -->
    <label>type</label>
    <select>
    </select>
  </div>

  <div>
    <!-- TODO Chosen plugin -->
    <label>payment_type</label>
    <select>
    </select>
  </div>

  <div>
    <!-- TODO Chosen plugin -->
    <label>sport</label>
    <select>
    </select>
  </div>

  <div>
    <!-- TODO Chosen plugin -->
    <!-- TODO Autocomplete with 'add new' a la youtube add to playlist -->
    <label>department</label>
    <select>
    </select>
  </div>

  <div>
    <!-- TODO Chosen plugin -->
    <!-- TODO Autocomplete with 'add new', a la youtube add to playlist -->
    <label>contact</label>
    <select>
    </select>
  </div>
</form>
